@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-black text-[#fff] tracking-wide; 
    margin: 0;
    height: 100vh;
    width: 100vw;

  }
  h1, h2, h3, h4, h5, h6{
    @apply font-bold
  }
  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }
  h2{
    @apply text-3xl sm:text-4xl 
  }
li{
  @apply cursor-pointer
}

li{
  @apply text-white
}
text{
  @apply text-white
}

}
@keyframes pulse {
  0% {
    transform: scale(0.97);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97);
  }
}
